<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員系統</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <header>歡迎光臨，請輸入信箱密碼</header>
    <form id="signin" action="/login" method="post">
        <h2>登入系統</h2>
        <div class="form-row">
            <label>信箱</label><input type="text" id="signin-email" name="email"/>
        </div>
        <div class="form-row">
            <label>密碼</label><input type="password" id="signin-password" name="password"/>
        </div>
        <div class="form-row">
            同意條款<input type="checkbox" id="checkbox"/>
        </div>
        <button type="submit">登入</button>
    </form>
    <div class="hotel-area">
        <h2>取得旅館資訊</h2>
        <div class="form-row">
            <label>編號</label><input type="text" id="id-input"/>
        </div>
        <button onclick="getHotel()">取得</button>
    </div>
    <script src="/static/index.js"></script>
</body>
</html>