<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member</title>
    <style>
        header {
            text-align: center;
            font-size: 28px;
            background-color: #2c3e50;
            color: white;
            padding: 15px;
            text-align: center;
        }
        div {
            text-align: center;
            font-size: 22px;
            margin-top: 30px;
        }
        a{
            text-align: center;
            font-size: 18px;
            margin-top: 30px;
            display: block;
        }
    </style>
</head>
<body>
    <header>歡迎光臨，這是會員頁</header>
    <div>{{ name }}，歡迎登入系統</div>
    <a href="/logout">登出系統</a>
</body>
</html>